.spacing-footer-login {
    display: flex;
    gap: 138px;
    
.div-select {
    padding-top: 25px;
    select {
        display: flex;
        border: 0;
        background-color: #FFFFFF;
        outline: none;

        padding-right: 4px;
        color: #202124e7;
        font-size: 12px;
        font-family: roboto, sans-serif;
    }
    select:hover {
        cursor: pointer;
    }
}
    .div-refs {
        display: flex;
        gap: 30px;
        padding-right: 5px;

        .help {
            text-decoration: none;
            font-family: roboto, Times, serif;
            font-size: 12px;
            color: #202124bd;

            margin-top: 25px;
        }
        .privacy {
            text-decoration: none;
            font-family: roboto, Times, serif;
            font-size: 12px;
            color: #202124bd;

            margin-top: 25px;
        }
        .terms {
            text-decoration: none;
            font-family: roboto, Times, serif;
            font-size: 12px;
            color: #202124bd;

            margin-top: 25px;
        }
    }
}

@media (max-width: 600px) {
    #spacing-footer-login {
        gap: 220px;
    }

}