.div-show-password {
    display: flex;
    margin-left: -10px;
    margin-top: 8px;
    .show-password {
        position: absolute;
        margin: 1px 0 0 11px;
        width: 18px;
    }
    .show-password:hover {
        cursor: pointer;
        background-color: #202124;
    }
    .show-password:hover + .div-checkbox{
        height: 40px;
        background-color: #1c1c1f07;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.2s ease all;
    }
    .show-password:active + .div-checkbox{
        height: 40px;
        background-color: #2727272c;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.4s ease all;
    }
    .show-password:focus + .div-checkbox{
        height: 40px;
        background-color: #27272712;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.4s ease all;
    }
    .show-password:focus:active + .div-checkbox{
        height: 40px;
        background-color: #2727272c;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.4s ease all;
    }
    .show-password:checked:focus:hover + .div-checkbox{
        height: 40px;
        background-color: #2e7add54;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.2s ease all;
    }
    .show-password:checked:active + .div-checkbox{
        height: 40px;
        background-color: #2e7add63;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.2s ease all;
    }
    .show-password:checked:focus + .div-checkbox{
        height: 40px;
        background-color: #69a1e923;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.2s ease all;
    }
    .div-checkbox {
        height: 40px;
        padding: 1px 20px;
        border-radius: 9999px;
        transition: 0.2s ease all;
    }
    .label-show-password {
        color: #141416;
        font-family: roboto, sans-serif;
        font-size: 14px;

        padding: 12px 0 0 10px;        
    }
    .label-show-password:hover {
        cursor: pointer;
    }
}